.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.Container h1 {
  color: blue;
}
.Mainbar {
  height: 50px;
  margin-top: 0px;
  background-color: lightblue;
  display:table;
  width:100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.Mainbar h2 {
  display: table-cell;
  vertical-align: middle;
  padding-left: 7%;
  color: white;
}
.FilterBar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 50px;
}
.PhotoSection {
  width: 100%;
}
